<!DOCTYPE html>
@model Project.Models.Bracelet
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Bracelets</h2>
<br /><br /><br /><br /><br />

<div class="row">
    <div class="col-lg-4">
        
        <img src="~/braclete/a.jpg" width="260" height="245" style="margin:30px" />


    </div>
    <div class="col-lg-4">
        <img src="~/braclete/b.jpg" width="260" height="245" style="margin:30px" />



    </div>
    <div class="col-lg-4">


        <img src="~/braclete/lk.png" width="260" height="245" style="margin:30px" />

    </div>

</div>
<div class="row">
    <div class="col-lg-4">

        <label style="margin-left:40px">Bangels with Stones</label><br />
        <label style="margin-left:40px">Price:65000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>
    <div class="col-lg-4">

        <label style="margin-left:40px">White Gold Bangels</label><br />
        <label style="margin-left:40px">Price:25000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>
    <div class="col-lg-4">

        <label style="margin-left:40px">Diamond Bangels</label><br />
        <label style="margin-left:40px">Price:60000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>

</div>

<div class="row">
    <div class="col-lg-4">
        <img src="~/braclete/b2.jpg" width="260" height="245" style="margin:30px" />


    </div>
    <div class="col-lg-4">
        <img src="~/braclete/m.jpg" width="260" height="245" style="margin:30px" />

    </div>


</div>

<div class="row">
    <div class="col-lg-4">

        <label style="margin-left:40px">Bangels with white Beeds</label><br />
        <label style="margin-left:40px">Price:65000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>
    <div class="col-lg-4">

        <label style="margin-left:40px">Gold Bangels</label><br />
        <label style="margin-left:40px">Price:25000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>


</div>



