
<!DOCTYPE html>

@model Project.Models.Pandent
@{
    Layout = "~/Views/_LayoutPage.cshtml";
 
 }

<h2>Pendants</h2>

<br /><br /><br /><br /><br />

<div class="row">
    <div class="col-lg-4">
        <img src="~/pandents/jj.jpg" width="260" height="245" style="margin:30px" />


    </div>
    <div class="col-lg-4">
        <img src="~/pandents/g.jpg" width="260" height="245" style="margin:30px" />



    </div>
    <div class="col-lg-4">
        <img src="~/pandents/41MJzX1SROL._SL190_CR0,0,190,246_.jpg" width="260" height="245" style="margin:30px" />


    </div>

</div>

<div class="row">
    <div class="col-lg-4">

        <label style="margin-left:40px">Heart shape pendant</label><br />
        <label style="margin-left:40px">Price:65000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>
    <div class="col-lg-4">

        <label style="margin-left:40px">Green Stone Necklece</label><br />
        <label style="margin-left:40px">Price:25000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>
    <div class="col-lg-4">

        <label style="margin-left:40px">Gold with diamond stone pendant</label><br />
        <label style="margin-left:40px">Price:95000 Rs</label><br />
        <a href="Login.html" style="margin-left:40px">Buy Now</a>

    </div>

</div>
<div class="row">

    <div class="row">
        <div class="col-lg-4">

            <img src="~/pandents/11162354_1024103864318488_3201687025145974087_n.jpg" width="260" height="245" style="margin:50px" />

        </div>
        <div class="col-lg-4">
            <img src="~/pandents/11167970_1024626734266201_4505137906249057183_n.jpg" width="260" height="245" style="margin:30px" />


        </div>
        <div class="col-lg-4">

            <img src="~/pandents/11230228_1054194217943948_928945879746813210_n.jpg" width="260" height="245" style="margin:30px" />

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">

            <label style="margin-left:40px">Heart shape pendant</label><br />
            <label style="margin-left:40px">Price:65000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>
        <div class="col-lg-4">

            <label style="margin-left:40px">Green Stone Necklece</label><br />
            <label style="margin-left:40px">Price:25000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>
        <div class="col-lg-4">

            <label style="margin-left:40px">Gold with diamond stone pendant</label><br />
            <label style="margin-left:40px">Price:95000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/pandents/pic2.jpg" width="260" height="245" style="margin:50px" />

        </div>
        <div class="col-lg-4">

            <img src="~/pandents/r2.jpg" width="260" height="245" style="margin:30px" />
        </div>

        <div class="col-lg-4">
            <img src="~/pandents/download.jpg" width="260" height="245" style="margin:30px" />

        </div>


    </div>

    <div class="row">
        <div class="col-lg-4">

            <label style="margin-left:40px">White Gold Necklece</label><br />
            <label style="margin-left:40px">Price:65000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>
        <div class="col-lg-4">

            <label style="margin-left:40px">Green Stone pendant</label><br />
            <label style="margin-left:40px">Price:25000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>

        <div class="col-lg-4">

            <label style="margin-left:40px">White Stone pendant</label><br />
            <label style="margin-left:40px">Price:25000 Rs</label><br />
            <a href="Login.html" style="margin-left:40px">Buy Now</a>

        </div>


    </div>


